.blogpost-card {
  max-width: 1000px;
  margin-bottom: 30px;
}

.blogpost-card-img {
  max-width: 50px;
}

.blogpost-subtitle {
  padding-left: 16px;
  padding-bottom: 20px;
}

.blogpost-content {
  min-height: 36px;
}
