<div class="post-details-container">
  @if (loading()) {
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  } @else {
    @if (post()) {
      <mat-card class="post-card">
        <mat-card-header>
          <mat-card-title>{{ post()?.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ post()?.body }}</p>
        </mat-card-content>
      </mat-card>

      <h2>Comments</h2>

      <mat-list class="comments-list">
        @for (comment of comments(); track comment.id) {
          <mat-divider></mat-divider>
          <mat-list-item>
            <h3 mat-line>{{ comment.name }}</h3>
            <p mat-line>{{ comment.body }}</p>
            <p mat-line class="email">{{ comment.email }}</p>
          </mat-list-item>
        }
      </mat-list>
    }
  }
</div>