<div class="blog-comment-container">
  <div class="blog-details" *ngIf="blogSignal() as blog">
    <h2>{{ blog.title }}</h2>
    <div class="blog-meta">
      <span>By {{ blog.author }}</span>
      <span class="date">{{ blog.date | date:'mediumDate' }}</span>
    </div>
    <div class="blog-content" [innerHTML]="blog.blogHtml"></div>
  </div>

  <div class="comments-section">
    <h3>Comments</h3>
    <ng-container *ngIf="commentsSignal() as comments">
      <div *ngIf="comments.length === 0" class="no-comments">
        No comments yet. Be the first to comment!
      </div>
      <ul *ngIf="comments.length > 0">
        <li *ngFor="let comment of comments" class="comment">
          <div class="comment-header">
            <span class="comment-author">{{ comment.name }}</span>
            <span class="comment-date">{{ comment.date | date:'short' }}</span>
          </div>
          <div class="comment-message">{{ comment.message }}</div>
        </li>
      </ul>
    </ng-container>
  </div>

  <div class="add-comment-section">
    <h3>Add a Comment</h3>
    <form #commentForm="ngForm" (ngSubmit)="addComment(commentForm)">
      <input
        type="text"
        name="name"
        [(ngModel)]="newComment.name"
        placeholder="Your Name"
        required
        class="input"
        #nameInput="ngModel"
      />
      <div class="validation-message" *ngIf="nameInput.touched && nameInput.invalid">
        <span *ngIf="nameInput.errors?.['required']">Name is required.</span>
      </div>

      <input
        type="email"
        name="email"
        [(ngModel)]="newComment.email"
        placeholder="Your Email"
        required
        email
        class="input"
        #emailInput="ngModel"
      />
      <div class="validation-message" *ngIf="emailInput.touched && emailInput.invalid">
        <span *ngIf="emailInput.errors?.['required']">Email is required.</span>
        <span *ngIf="emailInput.errors?.['email']">Please enter a valid email address.</span>
      </div>

      <textarea
        name="message"
        [(ngModel)]="newComment.message"
        placeholder="Your Comment"
        required
        minlength="20"
        class="textarea"
        rows="3"
        #messageInput="ngModel"
      ></textarea>
      <div class="validation-message" *ngIf="messageInput.touched && messageInput.invalid">
        <span *ngIf="messageInput.errors?.['required']">Comment is required.</span>
        <span *ngIf="messageInput.errors?.['minlength']">
          Comment must be at least 20 characters (currently {{ messageInput.viewModel?.length || 0 }}).
        </span>
      </div>

      <button type="submit" [disabled]="!commentForm.form.valid" class="submit-btn">Post Comment</button>
    </form>
  </div>
</div>