

<!-- Toolbar -->


    <span>{{ title }} app is running!</span>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>
  <h3>Task1 - Card Single item</h3>
  <app-article-card [article]="article"></app-article-card>
</div>

<div>
  <h3>Task2 - Card List</h3>
  <app-article-list />
</div>

<router-outlet></router-outlet>
