<mat-sidenav-container>
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    [fixedInViewport]="true"
    [fixedTopGap]="8"
  >
    <div class="links">
      @for (route of routes; track route.url) {
        <a
          mat-button
          [class.mat-flat-button]="rla.isActive"
          [routerLink]="route.url"
          routerLinkActive="active"
          #rla="routerLinkActive"
        >
          <mat-icon>{{ route.icon }}</mat-icon>
          {{ route.title }}
        </a>
      }
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="main">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
