<div class="blog-list">
  <h2>Blog Posts</h2>
  <ul class="blog-list-grid">
    <li *ngFor="let blog of blogsSignal().slice((currentPage()-1)*pageSize, currentPage()*pageSize)" class="blog-item-container">
      <button (click)="onBlogSelected(blog)" class="blog-item">
        <h3>{{ blog.title }}</h3>
        <p [innerHTML]="blog.blogHtml.substring(0, 120)"></p>
        <small>Published: {{ blog.date | date:'mediumDate' }}</small>
      </button>
    </li>
  </ul>

  <div class="pagination bright-pagination" *ngIf="(blogsSignal().length || 0) > pageSize">
    <button (click)="currentPage.set(currentPage() - 1)" [disabled]="currentPage() === 1">Prev</button>
    <span>Page {{currentPage()}} of {{totalPages()}}</span>
    <button (click)="currentPage.set(currentPage() + 1)" [disabled]="currentPage() === totalPages()">Next</button>
  </div>
</div>