@use '@angular/material' as mat;

body {
  padding: 0 1% 0 1%;
}

html, body {
  height: 100%;
}

body {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
